.header {
    object-fit: contain;
    color: #fff;
    height: 448px;
}

.header__contents {
    padding-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.header__title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.header__button {
    outline: 0;
    border: 0;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background: rgba(37, 37, 37, 0.8);
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.header__description {
    width: 50rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.7rem;
    max-width: 360px;
    height: 80px;
}


.header__button:hover {

    background-color: #db2777;
    transition: all 0.2s;
}

.header--fadeBottom {
    height: 16.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}