.landing {
  background-color: black;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.75px);
}

.landing__contents {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #302e4d; */
  padding: 1rem;
  border-radius: 1rem;
}

.landing__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__bottom > button {
  position: fixed;
  bottom: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 999rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #f38c10ff 30%, #db2778df 70%);
}

.landing__appLogo {
  padding-right: 40px;
}

.landing__appLogo > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.landing__desc > h1 {
  font-size: calc(32px + 0.8vw);
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .landing__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .landing__contents {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
  }
}
