.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 60px;
  padding: 20px;
  transition: all 0.4s ease-in;
}

.navbar__dark {
  background: rgb(17, 17, 17);
}

.navbar__left .navbar__logo {
  position: fixed;
  left: 20px;
  width: 120px;
  object-fit: contain;
  cursor: pointer;
  filter: blur(0.7px);
}

.navbar__right .navbar__avatar {
  position: fixed;
  right: 20px;
  width: 25px;
  object-fit: contain;
  cursor: pointer;
}
